# Apple Health Extractor

This code will parse your Apple Health export data, create multiple CSV and do some simple data checks and data analysis. 

Enjoy!

--------

## Extract Data and Export to CSVs from Apple Health's Export.xml

* Command Line Tool to Process apple health's export.xml file 
* Create multiple CSV files for each data type. 
* Original Source: https://github.com/tdda/applehealthdata
* Based on the size of your Apple Health Data, this script may take several minutes to complete.

**NOTE: Currently there are a few minror errors based on additional data from Apple Health that require some updates.**

## Setup and Usage NOTE

* Export your data from Apple Health App on your phone. 
* Unzip export.zip into this directory and rename to data. 
* Inside your directory there should be a directory and file here: /data/export.xml
* Run inside project or in the command line.

In [1]:
# %run -i 'apple-health-data-parser' 'export.xml' 
%run -i 'apple-health-data-parser' 'data/apple_health_export/export.xml'

Reading data from data/apple_health_export/export.xml . . . done
Unexpected node of type ExportDate.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.
Unexpected node of type Correlation.

Tags:
ActivitySummary: 2452
Correlation: 108
ExportDate: 1
Me: 1
Record: 3564304
Workout: 698

Fields:
HKCharacteristicTypeIdentifierBiologicalSex: 1
HKCharacteristicTypeIdentifierBloodType: 1
HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse: 1
HKCharacteristicTypeIdentifierDateOfBirth: 1
HKCharacteristicTypeIdentifierFitzpatrickSkinType: 1
activeEnergyBurned: 2452
activeEnergyBurnedGoal: 2452
activeEnergyBurnedUnit: 2452
appleExerciseTime: 2452
appleExerciseTimeGoal: 2452
appleMoveTime: 2452
appleMoveTimeGoal: 2452
appleStandHours: 2452
appleStandHoursGoal: 2452
creationDate: 3565110
dateComponents: 2452
device: 3447011
duration: 698
durationUnit: 698
endDate: 3565110
sourceName: 3565110
sourceVersion: 3549575
startDate: 3565110
type: 3564412
unit: 3519095
value: 3562049
workoutActivityType: 698

Record types:
ActiveEnergyBurned: 1787649
AppleExerciseTime: 52496
AppleStandHour: 34922
AppleStandTime: 46965
AppleWalkingSteadiness: 69
AudioExposureEvent: 12
BasalEnergyBurned: 332378
BloodPressureDiastolic: 152
BloodPressureSystolic: 152
BodyFatPercentage: 992
BodyMass: 1044
BodyMassIndex: 992
DietaryEnergyConsumed: 29
DistanceCycling: 2198
DistanceSwimming: 10
DistanceWalkingRunning: 342897
EnvironmentalAudioExposure: 27859
EnvironmentalSoundReduction: 175
FlightsClimbed: 21592
HKDataTypeSleepDurationGoal: 2
HandwashingEvent: 795
HeadphoneAudioExposure: 3299
HeartRate: 496000
HeartRateRecoveryOneMinute: 2
HeartRateVariabilitySDNN: 11277
Height: 994
LeanBodyMass: 992
LowCardioFitnessEvent: 3
MindfulSession: 1461
OxygenSaturation: 7516
RespiratoryRate: 17548
RestingHeartRate: 1967
SixMinuteWalkTestDistance: 99
SleepAnalysis: 8016
StairAscentSpeed: 2663
StairDescentSpeed: 2539
StepCount: 322516
SwimmingStrokeCount: 10
VO2Max: 94
WalkingAsymmetryPercentage: 2068
WalkingDoubleSupportPercentage: 6520
WalkingHeartRateAverage: 1941
WalkingSpeed: 11700
WalkingStepLength: 11699

Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/BodyMassIndex.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/Height.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/BodyMass.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/HeartRate.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/OxygenSaturation.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/BloodPressureSystolic.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/BloodPressureDiastolic.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/RespiratoryRate.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/BodyFatPercentage.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/LeanBodyMass.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/StepCount.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/DistanceWalkingRunning.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/BasalEnergyBurned.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/ActiveEnergyBurned.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/FlightsClimbed.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/DietaryEnergyConsumed.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/AppleExerciseTime.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/DistanceCycling.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/DistanceSwimming.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/SwimmingStrokeCount.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/RestingHeartRate.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/VO2Max.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/WalkingHeartRateAverage.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/EnvironmentalAudioExposure.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/HeadphoneAudioExposure.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/WalkingDoubleSupportPercentage.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/SixMinuteWalkTestDistance.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/AppleStandTime.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/WalkingSpeed.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/WalkingStepLength.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/WalkingAsymmetryPercentage.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/StairAscentSpeed.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/StairDescentSpeed.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/HKDataTypeSleepDurationGoal.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/AppleWalkingSteadiness.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/HeartRateRecoveryOneMinute.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/EnvironmentalSoundReduction.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/SleepAnalysis.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/AppleStandHour.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/MindfulSession.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/AudioExposureEvent.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/LowCardioFitnessEvent.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/HandwashingEvent.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/HeartRateVariabilitySDNN.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/Workout.csv for writing
Opening /home/jovyan/work/qs_ledger/apple_health/data/apple_health_export/ActivitySummary.csv for writing
Written BodyMassIndex data.
Written Height data.
Written BodyMass data.
Written HeartRate data.
Written OxygenSaturation data.
Written BloodPressureSystolic data.
Written BloodPressureDiastolic data.
Written RespiratoryRate data.
Written BodyFatPercentage data.
Written LeanBodyMass data.
Written StepCount data.
Written DistanceWalkingRunning data.
Written BasalEnergyBurned data.
Written ActiveEnergyBurned data.
Written FlightsClimbed data.
Written DietaryEnergyConsumed data.
Written AppleExerciseTime data.
Written DistanceCycling data.
Written DistanceSwimming data.
Written SwimmingStrokeCount data.
Written RestingHeartRate data.
Written VO2Max data.
Written WalkingHeartRateAverage data.
Written EnvironmentalAudioExposure data.
Written HeadphoneAudioExposure data.
Written WalkingDoubleSupportPercentage data.
Written SixMinuteWalkTestDistance data.
Written AppleStandTime data.
Written WalkingSpeed data.
Written WalkingStepLength data.
Written WalkingAsymmetryPercentage data.
Written StairAscentSpeed data.
Written StairDescentSpeed data.
Written HKDataTypeSleepDurationGoal data.
Written AppleWalkingSteadiness data.
Written HeartRateRecoveryOneMinute data.
Written EnvironmentalSoundReduction data.
Written SleepAnalysis data.
Written AppleStandHour data.
Written MindfulSession data.
Written AudioExposureEvent data.
Written LowCardioFitnessEvent data.
Written HandwashingEvent data.
Written HeartRateVariabilitySDNN data.
Written Workout data.
Written ActivitySummary data.

-----

# Apple Health Data Check and Simple Data Analysis

In [2]:
import numpy as np
import pandas as pd
import glob

----

# Weight

In [3]:
weight = pd.read_csv("data/apple_health_export/BodyMass.csv")

In [4]:
weight.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
1039,EufyLife,1,NaN,BodyMass,lb,2023-01-26 08:11:38 -0500,2023-01-26 08:11:38 -0500,2023-01-26 08:11:38 -0500,272.2
1040,EufyLife,1,NaN,BodyMass,lb,2023-01-27 08:12:56 -0500,2023-01-27 08:12:56 -0500,2023-01-27 08:12:56 -0500,272.2
1041,EufyLife,1,NaN,BodyMass,lb,2023-01-28 09:11:38 -0500,2023-01-28 09:11:37 -0500,2023-01-28 09:11:37 -0500,273.1
1042,EufyLife,1,NaN,BodyMass,lb,2023-01-29 11:13:21 -0500,2023-01-29 11:13:21 -0500,2023-01-29 11:13:21 -0500,270.0
1043,EufyLife,1,NaN,BodyMass,lb,2023-01-30 08:20:27 -0500,2023-01-30 08:20:27 -0500,2023-01-30 08:20:27 -0500,272.0

In [5]:
weight.describe()

       sourceVersion  device        value
count    1044.000000     0.0  1044.000000
mean       59.386015     NaN   273.707375
std       233.533550     NaN    21.736763
min         1.000000     NaN   247.500000
25%         6.000000     NaN   255.700000
50%         6.000000     NaN   264.200000
75%         6.000000     NaN   297.600000
max      1092.000000     NaN   313.200000

----

## Steps

In [6]:
steps = pd.read_csv("data/apple_health_export/StepCount.csv")

In [7]:
len(steps)

322516

In [8]:
steps.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [9]:
steps.describe()

               value
count  322516.000000
mean       66.313485
std        98.140517
min         1.000000
25%        18.000000
50%        37.000000
75%        80.000000
max      1387.000000

In [10]:
steps.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
322511,David’s Apple Watch,9.3,"<<HKDevice: 0x280106080>, name:Apple Watch, ma...",StepCount,count,2023-01-30 08:48:06 -0500,2023-01-30 08:40:59 -0500,2023-01-30 08:41:55 -0500,50
322512,David’s Apple Watch,9.3,"<<HKDevice: 0x280106080>, name:Apple Watch, ma...",StepCount,count,2023-01-30 08:48:06 -0500,2023-01-30 08:42:58 -0500,2023-01-30 08:43:57 -0500,20
322513,David’s Apple Watch,9.3,"<<HKDevice: 0x280106080>, name:Apple Watch, ma...",StepCount,count,2023-01-30 08:48:06 -0500,2023-01-30 08:44:20 -0500,2023-01-30 08:45:16 -0500,17
322514,David’s Apple Watch,9.3,"<<HKDevice: 0x280106080>, name:Apple Watch, ma...",StepCount,count,2023-01-30 08:48:06 -0500,2023-01-30 08:45:52 -0500,2023-01-30 08:45:57 -0500,4
322515,David’s Apple Watch,9.3,"<<HKDevice: 0x280106080>, name:Apple Watch, ma...",StepCount,count,2023-01-30 09:01:04 -0500,2023-01-30 08:50:42 -0500,2023-01-30 08:55:53 -0500,79

In [11]:
# total all-time steps
steps.value.sum()

21387160

-------

## Stand Count

In [12]:
stand = pd.read_csv("data/apple_health_export/AppleStandHour.csv")

In [13]:
len(stand)

34922

In [14]:
stand.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [15]:
stand.describe()

       unit
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

In [16]:
stand.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
34917,David’s Apple Watch,9.3,"<<HKDevice: 0x2801eaee0>, name:Apple Watch, ma...",AppleStandHour,NaN,2023-01-30 05:36:26 -0500,2023-01-30 05:00:00 -0500,2023-01-30 06:00:00 -0500,HKCategoryValueAppleStandHourStood
34918,David’s Apple Watch,9.3,"<<HKDevice: 0x2801eaee0>, name:Apple Watch, ma...",AppleStandHour,NaN,2023-01-30 06:33:38 -0500,2023-01-30 06:00:00 -0500,2023-01-30 07:00:00 -0500,HKCategoryValueAppleStandHourStood
34919,David’s Apple Watch,9.3,"<<HKDevice: 0x2801eaee0>, name:Apple Watch, ma...",AppleStandHour,NaN,2023-01-30 07:18:58 -0500,2023-01-30 07:00:00 -0500,2023-01-30 08:00:00 -0500,HKCategoryValueAppleStandHourStood
34920,David’s Apple Watch,9.3,"<<HKDevice: 0x2801eaee0>, name:Apple Watch, ma...",AppleStandHour,NaN,2023-01-30 08:08:55 -0500,2023-01-30 08:00:00 -0500,2023-01-30 09:00:00 -0500,HKCategoryValueAppleStandHourStood
34921,David’s Apple Watch,9.3,"<<HKDevice: 0x2801eaee0>, name:Apple Watch, ma...",AppleStandHour,NaN,2023-01-30 10:00:22 -0500,2023-01-30 09:00:00 -0500,2023-01-30 10:00:00 -0500,HKCategoryValueAppleStandHourIdle

------

## Resting Heart Rate (HR)

In [17]:
restingHR = pd.read_csv("data/apple_health_export/RestingHeartRate.csv")

In [18]:
len(restingHR)

1967

In [19]:
restingHR.describe()

       device        value
count     0.0  1967.000000
mean      NaN    75.490086
std       NaN     7.200287
min       NaN    43.000000
25%       NaN    72.000000
50%       NaN    76.000000
75%       NaN    80.000000
max       NaN    94.000000

---

## Walking Heart Rate (HR) Average

In [20]:
walkingHR = pd.read_csv("data/apple_health_export/WalkingHeartRateAverage.csv")

In [21]:
len(walkingHR)

1941

In [22]:
walkingHR.describe()

       device        value
count     0.0  1941.000000
mean      NaN   105.832045
std       NaN     8.870278
min       NaN    61.000000
25%       NaN   100.000000
50%       NaN   106.000000
75%       NaN   111.500000
max       NaN   142.500000

---

## Heart Rate Variability (HRV)

In [23]:
hrv = pd.read_csv("data/apple_health_export/HeartRateVariabilitySDNN.csv")

In [24]:
len(hrv)

11277

In [25]:
hrv.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [26]:
hrv.describe()

              value
count  11277.000000
mean      16.533775
std        9.998771
min        0.001788
25%       10.994300
50%       14.611600
75%       19.860400
max      286.346000

In [27]:
hrv.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
11272,David’s Apple Watch,9.3,"<<HKDevice: 0x2801957c0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2023-01-30 00:25:05 -0500,2023-01-30 00:24:03 -0500,2023-01-30 00:25:03 -0500,15.04420
11273,David’s Apple Watch,9.3,"<<HKDevice: 0x2801957c0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2023-01-30 02:24:41 -0500,2023-01-30 02:23:40 -0500,2023-01-30 02:24:40 -0500,14.41990
11274,David’s Apple Watch,9.3,"<<HKDevice: 0x2801957c0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2023-01-30 04:40:51 -0500,2023-01-30 04:39:50 -0500,2023-01-30 04:40:50 -0500,7.38772
11275,David’s Apple Watch,9.3,"<<HKDevice: 0x2801957c0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2023-01-30 06:26:51 -0500,2023-01-30 06:25:50 -0500,2023-01-30 06:26:49 -0500,14.40280
11276,David’s Apple Watch,9.3,"<<HKDevice: 0x2801957c0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2023-01-30 09:03:32 -0500,2023-01-30 09:02:30 -0500,2023-01-30 09:03:30 -0500,14.79230

-------

## VO2 Max

In [28]:
vo2max = pd.read_csv("data/apple_health_export/VO2Max.csv")

In [29]:
len(vo2max)

94

In [30]:
vo2max.describe()

       device      value
count     0.0  94.000000
mean      NaN  20.969688
std       NaN   2.679804
min       NaN  17.710000
25%       NaN  18.382500
50%       NaN  21.840000
75%       NaN  23.277500
max       NaN  30.060300

----

## Blood Pressure

In [31]:
diastolic = pd.read_csv("data/apple_health_export/BloodPressureDiastolic.csv")
systolic = pd.read_csv("data/apple_health_export/BloodPressureSystolic.csv")

In [32]:
diastolic.describe()

       sourceVersion  device       value
count     152.000000     0.0  152.000000
mean      564.993421     NaN   72.500000
std       574.722110     NaN    5.700006
min       216.000000     NaN   61.000000
25%       221.000000     NaN   68.000000
50%       243.000000     NaN   72.000000
75%       385.000000     NaN   77.000000
max      1609.000000     NaN   88.000000

In [33]:
systolic.describe()

       sourceVersion  device       value
count     152.000000     0.0  152.000000
mean      564.993421     NaN  119.453947
std       574.722110     NaN    8.716916
min       216.000000     NaN   99.000000
25%       221.000000     NaN  113.750000
50%       243.000000     NaN  119.000000
75%       385.000000     NaN  123.250000
max      1609.000000     NaN  142.000000

------

## Sleep

In [34]:
sleep = pd.read_csv("data/apple_health_export/SleepAnalysis.csv")

In [35]:
sleep.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
8011,David’s Apple Watch,9.3,NaN,SleepAnalysis,NaN,2023-01-30 06:30:05 -0500,2023-01-30 04:14:31 -0500,2023-01-30 05:22:01 -0500,HKCategoryValueSleepAnalysisAsleepCore
8012,David’s Apple Watch,9.3,NaN,SleepAnalysis,NaN,2023-01-30 06:30:05 -0500,2023-01-30 05:22:01 -0500,2023-01-30 05:36:31 -0500,HKCategoryValueSleepAnalysisAsleepREM
8013,David’s Apple Watch,9.3,NaN,SleepAnalysis,NaN,2023-01-30 06:30:05 -0500,2023-01-30 03:35:31 -0500,2023-01-30 05:36:31 -0500,HKCategoryValueSleepAnalysisInBed
8014,David iPhone,16.3,NaN,SleepAnalysis,NaN,2023-01-30 06:30:04 -0500,2023-01-29 23:30:59 -0500,2023-01-30 05:53:16 -0500,HKCategoryValueSleepAnalysisInBed
8015,David iPhone,16.3,NaN,SleepAnalysis,NaN,2023-01-30 06:30:04 -0500,2023-01-30 06:00:51 -0500,2023-01-30 06:02:04 -0500,HKCategoryValueSleepAnalysisInBed

In [36]:
sleep.describe()

       device  unit
count     0.0   0.0
mean      NaN   NaN
std       NaN   NaN
min       NaN   NaN
25%       NaN   NaN
50%       NaN   NaN
75%       NaN   NaN
max       NaN   NaN